@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');




body{
  font-family: 'Syne Mono', monospace;
  background-color: #420DBD;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.img {
  border: 5px solid rgb(14, 12, 12);
}

a:link,
a:visited{
  color: #eaed2f;
  text-decoration: none;
  display: inline-block;
  transition:all 0.3s;
}
.header-main-title{
  color: rgba(255, 255, 255, 0.446);
}
.character-search-box, .search-character-button{
  border-radius: 0;
}
.search-character-button{
  background-color: #d4ed2f
}
#characterMainTitle, #comicMainTitle{
  color: #FFFFFF;
}
.card {
  border:none;
  border-radius: 3px;
}
a:hover
a:active {
  color: white;
  background-color: #baed2f
  box-shadow 0 1rem 2rem rgba(black, .4);
  padding: 2px;
}
.jumbotron {
  background-color: #151515;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto
  

}


